body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.table td, .table th {
  border-top: none;
}

.btn-confirmar {
  color: #fff;
  background-color: rgb(26, 34, 44);
  border-color: rgb(26, 34, 44);
}

.btn-group-sm>.btn, .btn-sm {
    font-size: .675rem;
}
